/*
Autor: ana solera
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{font-family: sans-serif;}
ul{list-style: none;}
a{text-decoration: none;}

body{
    background-image: url(../img/fondo7.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    padding-top: 25%;
    font-size: 2.5em;
}